* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #FFFFFF;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
}

#clock {
  font-weight: 300;
  font-size: 10vh;
  margin-bottom: 1vh;
}

#color {
  font-size: 2vh;
}

#author {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.5vh;
  opacity: .1;
}
